<%- include("partials/header.ejs") %>
    <section class="indexBackground">
        <div class="heroHeading">
            <h1>Share what you're reading with others.</h1>
        </div>
    </section>
    <%- include("partials/footer.ejs") %>